
<html>

<head>
  <link rel= "stylesheet" href="/stylesheets/addPageStyle.css">
</head>
<body>
<h2 class="title">Add Item To Inventory</h2>
<div class="page">
<form method="post">
  <label for="iname">Item Name</label>
  <br>
  <input type="text" name="iname"
  placeholder="Item name"></input>
<br>
  
<label for="quantity">Quantity</label>
  <br>
  <input type="number" name="quantity"
  placeholder=0></input>
<br>
  
    <a href="{{url_for('home')}}"> Cancel</a>
    <button type="submit">Submit</button>
  
 
</form>

</div>
</body>
</html>