<html>

<head>
<title></title>
  <link rel= "stylesheet" href= "{{ url_for('static',filename='stylesheets/style.css') }}">
</head>
<body>
<div id="wrapper">
<p>
<h3>Edit Item</h3>
<p>
<br>
<div class="page">
<form method="post">
  <label for="iname">New Item Name</label>
  <br>
  <input type="text" name="iname"
  placeholder="Item name"></input>
<br>
  
<label for="quantity">New Quantity</label>
  <br>
  <input type="number" name="quantity"
  placeholder=0></input>
<br>
  
    <a href="{{url_for('home')}}"> Cancel</a>
    <form action="{{url_for('home')}}">
      <input type="submit" value="Submit" />
    </form>
    
 
</form>
</div>

</html>