<html>
<head>
<title></title>
<link rel= "stylesheet" href= "{{ url_for('static',filename='stylesheets/style.css') }}">
</head>
<body>
<div id="wrapper">
<p>
<h3>This web site can be used for a store owner to track inventories.</h3>
<p>
To view the existing inventories, please click <a href="/inventories/">All Inventory</a> 
<p>
<br> 
<p>
To search for a specific item, please click <a href="/inventories/search_item">Search for an Item</a> 
<p>
<br> 
<p>
To add a new item, please click <a href="/inventories/add_item">Add an Item</a>
</p>
</div>
<body>
</html>