<html>

<head>
  <link rel= "stylesheet" href= "{{ url_for('static',filename='stylesheets/searchPage.css') }}">
</head>
<div class="title">Search For an Item in The inventory</div>

<div class="page">
<form method="POST" class="frm" action="{{ url_for('search_inventory')}}">
  <label for="name">Item Name</label>
  <p>
    <input type="text" name="name"
    placeholder="Item name"></input>
  </p>
  <p>
    <input type="submit" value="Search" class="search-btn" />
  </p>
<table>
  <tr>
		<td>Item Name</td>
		<td>Quantity</td>
		<td></td>
		<td></td>
	</tr>
  {% for item in item %}
  <tr>
  <article class="items">
      <td>Name:{{item.name}}</td>
      <td>Quantity:{{item.quantity}}</td>
      <td>
      <a href="{{ url_for('edit_inventory',item_id=item._id)}}">Edit</a> | <a href="{{ url_for('delete',item_id=item._id)}}">Delete</a>
    </td>
  </article>
</tr>
  {% endfor %}
</table>
  <p>
    <a href="{{ url_for('home')}}">Home</a>
  </p>
</form>
</div>
</body>
</html>