<html>
<head>
<title></title>
<link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
<div id="wrapper">
<h2>Inventory</h2>
<table border="1" 
align="left">
	<tr>
		<td>Item Name</td>
		<td>Quantity</td>
		<td></td>
		<td></td>
	</tr>
	{% for item in item %}
	<tr>
		<td>
			{{item.name}}
		</td>
		<td >
			{{ item.quantity }}
		</td>
		<td>
		<a href="{{ url_for('edit_inventory',item_id=item._id)}}">Edit</a> | <a href="{{ url_for('delete',item_id=item._id)}}">Delete</a>
	</td>
		
	</tr>
	{%endfor%}
</table>

</table>
</div>
<body>
</html>